.logo {
  @include flex(center, center);
  @include border($color-primary, 50%);
  padding: 1rem;
}

.main-name {
  font-family: $font-anton;
  font-size: 50px;
  color: $color-secondary;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sub-name {
  font-size: 18px;
  color: $color-secondary;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.main-heading {
  font-family: $font-anton;
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 40px;
}

.sub-heading {
  font-size: 60px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 80px;
}

.main-btn {
  width: 170px;
  height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-primary;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  transition: all 0.4s;

  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}

.card {
  position: relative;
  width: 33.3333%;
  height: 30vw; // on resize, height reduce
  overflow: hidden;

  &:hover .card-overlay {
    left: 0;
  }

  &-overlay {
    @include flex($justify: center, $align: center, $direction: column);
    @extend %full-space;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba($color-primary, 0.6);
    color: $color-light;
    transition: left 0.4s;
    z-index: 1;

    &-heading {
      font-size: 50px;
      font-family: $font-anton;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: capitalize;
    }

    &-paragraph {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: capitalize;
    }

    &-btn {
      width: 150px;
      height: 30px;
      color: $color-primary;
      background-color: $color-light;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include border($color-primary, $width: 1px, $radius: 5px);
    }
  }

  &-img {
    @extend %full-space;
    opacity: 0.5;
  }
}
