$color-primary: lightskyblue;
$color-secondary: lightgray;
$color-danger: crimson;
$color-warning: gold;
$color-black: #000;

$font-sm: 0.875rem;
$font-normal: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;
