/** !NOTE: 
  - max of 2 dept
  - never use !globals/!important
*/
@import 'mixins';
@import 'variables';

body {
  background-color: #4c4c4c;
  font-size: 16px;
}

.bug {
  border: 1px solid red;
}
.heading {
  color: $color-primary;
  font-size: $font-lg;
  text-align: center;
}

.nav {
  // $color-tertiary: red !global; // make global variable (!NOTE: never use, hard to maintain)
  background-color: $color-primary;

  ul {
    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.banner {
  h2 {
    // @include heading-style($font-lg);
    @extend .heading;
  }
}
.footer {
  h3 {
    @include heading-style($font-md);
    @include transition(color 0.5s, background-color 1s);

    &:hover {
      color: $color-black;
      background-color: $color-primary;
    }
  }
}
